body {

    margin:0
}
/*<!--this is the header including the name of the owner and five tabs-->*/
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin:0;
    align-items: center;
    /*background-color: darkgray;*/
    padding:20px;
}
.name {
    font-size:30px;
    font-family: "Arial Rounded MT Bold";
    text-align: center;
    margin-left: 150px;
}
.tab {
    color:black;
    text-decoration: none;
    margin:0 40px;
    font-family: "Lao MN";

}

.tab:hover {
    background-color:darkgrey;
}
/*<!--this is the background image-->*/
.backImg {
    background-image: url("../images/4.jpeg");
    background-size: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    height:500px
}
/*<!--this is the zone for the photo of the owner and his Name and title-->*/

.introZone {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    align-items: center;
    width:50%;
    position:absolute;
    top:150px;
    left:25%;
}
.intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:535px;
    width: 800px;
    background-color: white;
}
.introImg {
    width:400px;

    margin:0
}
.nameBig {
    width :500px;
    line-height: 40px;
    font-size: 40px;
    font-family:"Arial Rounded MT Bold";
    text-align: center;
}
.des {
    margin: 0 20px;
    font-family: "LiHei Pro";
    font-size: 30px;
    padding:30px;
    text-align: center;
}
.introFoot {
    background-color: deepskyblue;
    width:800px;
    height:50px;
    margin: 0
}
.space{
    height: 40%;
}
/*<!--this is the zone for the hello words and brief introduction-->*/
.introTxt{
    width: 100%;
    background-color: whitesmoke;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.hello {
text-align: center;
    font-family:"Kunstler Script";
    margin: 0;
    padding-top: 60px;
    font-size: 30px;

}
.words {
    text-align: center;
    font-family: "Apple Chancery";
    padding:20px;
    margin:0;
    font-size: 25px;
    width:80%;
    line-height: 40px;

}
<!--this is the education section-->
.item {
    /*height:200px;*/
    width:100%;
    /*background-color:whitesmoke;*/
    margin:40px 0;
    padding-top: 20px;
}
.itemTitle {
    margin:0 0 20px 0;
}
.titleName {
    text-align: center;
    margin-left: 20px;
    margin:0
}
.txt {
   display: flex;
    justify-content: center;
    align-items: baseline ;
    /*margin:-30px*/
    /*height:15%*/

}
.year {
    height: 100%;
    padding:0 20px 0 0;
    width:50%
}
.detail{
    width:50%;
    height:100%;
    padding:0 0 20px 20px;
    margin:0;
    border-left:2px dotted blue
}
.leftShow{
    text-align: right;
}
/*this is the work experience section. */
    /*Attention:many same classnames as in the education section -->*/
#work{
    background-color: whitesmoke;
}
/*<!--this is the skill section-->*/
.skillTitle{
  margin: 0;
}

/*Below edited Qichen*/
.skillSoftware {
    display: flex;
    justify-content: center;
}
.skillList {
  line-height: 30px;

}
/*above*/

/*<!--this is the footer, the contact section-->*/
#contact{
    background-color: darkgray;
    padding-top: 10px;
}
.contactTitle {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 20px;
    font-size: 25px;
}
.contactTxt {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.itemContact {
    color: white;
    font-family: "Kannada Sangam MN";
}
/*this is the line style*/
hr {
    width:100%;
    height:2px;
    background-color:lightgrey;
    border:none;
    margin: 0 0 0 5px;
}

/*this is the back to up button and link under every section*/
.backBnt{
    border: none;

    position: relative;
    left:93%;
    top:95%;
    background-color: transparent;
}
.bntLink{
    color:deepskyblue;
    text-decoration: none;
}
